<mat-grid-list cols="12" [style.background]="'lightblue'">
  <mat-grid-tile>
      <button (click)="showMessage()" mat-raised-button>Click 1</button>
  </mat-grid-tile>
  <mat-grid-tile>
      <button (click)="showMessage()" mat-raised-button>Click 2</button>
  </mat-grid-tile>
  <mat-grid-tile>
      <button (click)="showMessage()" mat-raised-button>Click 3</button>
  </mat-grid-tile>
  <mat-grid-tile>
      <button (click)="showMessage()" mat-raised-button>Click 4</button>
  </mat-grid-tile>
</mat-grid-list>