<mat-card class="test-card">
    <mat-card-header>
      <mat-card-title><h2>Login to Angular 6 App</h2></mat-card-title>
    </mat-card-header>
    <form  action="" name="test-form">
        <mat-grid-list cols="1" rowHeight="70px">
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Enter username" >
            </mat-form-field>
          </mat-grid-tile>
      
          <mat-grid-tile>
            <mat-form-field>
              <input type="password" matInput placeholder="Enter password" >
            </mat-form-field>
          </mat-grid-tile>
      
          <mat-grid-tile>
            <button mat-raised-button>LOGIN</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
</mat-card>
