.test-card {
  max-width: 400px;
  margin: 0 auto;

  .error {
    text-align: center;
    font-size: 14px;
    color: #ff5555;
    padding: 10px;
    background: #ffe6e6;
    box-shadow: 2px 2px 5px -1px #ff5555;
  }
}